---
layout: default
---
<div class="container mt-5"> 
  <div class="post""> 
    <object data="https://raw.githubusercontent.com/jcpilche/jcpilche.github.io/c925c7cf7ab59a993272288a24dc5dcd1aecf45f/assets/pdf/Jeneve-Pilcher-Resume.pdf" width="750" height="1000" type="application/pdf" align="middle"></object>
  </div> 
</div>
