---
layout: default
---
<div class="container mt-5"> 
  <div class="post" style="padding-left: 30;"> 
    <object data="../assets/pdf/Jeneve-Pilcher-Resume.pdf#pagemode=none" width="750" height="1000" type="application/pdf" align="middle"></object> 
  </div> 
</div>

