---
layout: default
---
<div class="container mt-5"> 
  <div class="post"> 
    <iframe src="https://viewscreen.githubusercontent.com/view/pdf?browser=chrome&amp;bypass_fastly=true&amp;color_mode=auto&amp;commit=c654fd97493eef16f73111f6fb2085d0a8140059&amp;device=unknown_device&amp;docs_host=https%3A%2F%2Fdocs.github.com&amp;enc_url=68747470733a2f2f7261772e67697468756275736572636f6e74656e742e636f6d2f6a6370696c6368652f6a6370696c6368652e6769746875622e696f2f633635346664393734393365656631366637333131316636666232303835643061383134303035392f6173736574732f7064662f4a656e6576652d50696c636865722d526573756d652e706466&amp;logged_in=true&amp;nwo=jcpilche%2Fjcpilche.github.io&amp;path=assets%2Fpdf%2FJeneve-Pilcher-Resume.pdf&amp;platform=mac&amp;repository_id=806695414&amp;repository_type=Repository&amp;version=120#100ba945-6324-4332-9fca-d9066b856dd6" sandbox="allow-scripts allow-same-origin allow-top-navigation" name="100ba945-6324-4332-9fca-d9066b856dd6" title="File display" class="Box-sc-g0xbh4-0 kRMcOk" width="750" height="1000" type="application/pdf"></iframe>    
  </div> 
</div>
